:root {
  --bs-primary-rgb: 24, 130, 140;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #18828C;
  --bs-btn-border-color: #18828C;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #175450;
  --bs-btn-hover-border-color: #144945;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #144945;
  --bs-btn-active-border-color: #144945;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #18828C;
  --bs-btn-disabled-border-color: #18828C;
}

.btn-outline-primary {
  --bs-btn-color: #18828C;
  --bs-btn-border-color: #18828C;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #18828C;
  --bs-btn-hover-border-color: #18828C;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #18828C;
  --bs-btn-active-border-color: #18828C;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #18828C;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #18828C;
  --bs-gradient: none;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity)) !important;
}